* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, sans-serif;
}

html, body, #wrap {
  margin: 0;
  padding: 0;
}

#wrap {
  min-width: 20rem;
}

/*nav part*/
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 15.625rem;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #404040;
}

nav header {
  margin: 1.5625rem;
  font-size: 2.1875rem;
  font-weight: bold;
  text-align: center;
  color: #00d8ff;
}

nav ul {
  height: 88%;
  padding-left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  list-style-type: none;
  background-color: #e6e6e6;
}

nav ul a {
  display: block;
  height: 2.5rem;
  padding: 0.625rem;
  color: #000;
  font-size: 1.125rem;
  text-align: center;
}

nav ul a:hover {
  color: #fff;
  background: #00adcc;
}


/*main part*/
main {
  margin-left: 15.625rem;
  padding: 0 1.5625rem 1.5625rem 1.5625rem;
}

section header {
  margin-top: 1.5625rem;
  margin-bottom: 0.9375rem;
  border-bottom: 0.125rem solid #00adcc;
  font-size: 1.875rem;
  color: #404040;
}

section p {
  margin-left: 0.625rem;
  line-height: 1.5;
  font-size: 1rem;
}

pre {
  display:block;
  margin: 0 1.25rem;
  padding-top: 0.75rem;
  color: #f2f2f2;
  background: #404040;
  border-radius: 0.75rem;
  line-height: 1.3;
}

.code-line {
  font-size: 0.875rem;
  background: #ccf7ff;
}

.a-line {
  color: #008299;
}

.a-line:hover {
  border-bottom: 0.0625rem #008299 solid;
}

a {
  text-decoration: none;
}

li {
  margin-left: 1.25rem;
  line-height: 1.5;
}

.last-child {
  margin-bottom: 1.25rem;
}

@media (max-width: 60rem) {
  pre {
    font-size: 0.875rem;
  }
}

@media (max-width: 54.375rem) {
  pre {
    font-size: 0.75rem;
  }
}

@media (max-width: 48.75rem) {
  nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 15.625rem;
    z-index: 1;
  }
  
  nav ul {
    height: 66%;
  }
  
  nav ul a {
    font-size: 1rem;
  }
  
  main {
    position: relative;
    margin-top: 17.1875rem;
    margin-left: 0;
  }
  
  pre {
    font-size: 1rem;
  }
}

@media (max-width: 43.125rem) {
  pre{
    font-size: 0.875rem;
  }
}

@media (max-width: 37.5rem) {
  pre{
    font-size: 0.75rem;
  }
}

@media (max-width: 31.875rem) {
  main{
    padding: 0 0.625rem 0.625rem 0.625rem; 
  }
  
  pre{
    margin: 0;
  }
}
